
.inventory-list-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-box {
    width: 30vmin;
    font-family: Lato;
}

.back-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.back-button{
    width: 5vmin;
}

.refresh-button{
    width: 5vmin;
}

.interactive:hover {
    cursor: pointer;
}

.button-containers {
    display: flex;
    flex-direction: row;
    height: 5vmin;
    justify-content: space-between;
    width: 30vmin;
    padding-bottom: 5px;
}

.inv-selected-code-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 5px;
}

.inv-selected-code-modal {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    align-items: flex-start;
    justify-content: space-between;
    width: inherit;
    white-space: pre-line;
}

.selling-price-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.selling-price-header {
    color: azure;
    font-size: 17px;
    font-family: Lato-Bold;
    margin-bottom: 5px;
}

.confirmation-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.confirmation-input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.form-button-confirmation {
    background-color: #16181c;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #16181C;
    color: #04AA6D;
    padding: 5px 20px 5px 20px;
    font-family: Lato;
    font-size: 18px;
}

.form-button-confirmation:hover {
    border-color: #04AA6D;
    cursor: pointer;
}

.inv-selected-item-name {
    font-size: 16px;
    color: #05c37b;
}

.inv-selected-code-sn {
    font-size: 18px;
    font-family: Lato-Bold;
}

.inv-remove-selection {
    border-color: #04aa6d;
    border-width: 2px;
    padding-top: 3px;
}

.inv-remove-selection:hover {
    cursor: pointer;
}

.indicator-column {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

.indicator-header {
    font-size: 14px;
    padding-bottom: 5px;
}

.indicator-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.indicator-value {
    font-size: 18px;
    font-family: Lato-Bold;
}
