
@media (max-width: 500px) {
    .form {
        background-color: #282c34;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin-bottom: 40px;
        margin-left: 12px;
        margin-right: 12px;
    }
}
.form {
    background-color: #282c34;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 40px;
    width: 80%;
    max-width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    text-align: start;
}

.form-label-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.form-label {
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 8px;
}

.form-header {
    font-family: Lato-Bold;
    font-size: 25px;
    padding-bottom: 10px;
    color: #04AA6D;
}

.search-item-row {
    background-color: #16181c;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #16181c;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.search-item-row:hover {
    border-color: #04aa6d;
    cursor: pointer;
}

.search-item-name {
    font-size: 1.2vh;
    color: #05c37b;
    font-family: Lato-Bold;
}

.search-item-sn-name-container {
    display: flex;
    flex-direction: column;
}

.search-item-row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.search-item-sn, .search-item-loc {
    font-size: 17px;
    font-family: Lato-Bold;
}

.selected-item-name {
    font-size: 10px;
    font-weight: bold;
    color: #05c37b;
    font-family: Lato-Bold;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
}

.qty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qty-input {
    width: 30px;
}

.selected-code-modal {
    background-color: #16181c;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    white-space: pre-line;
}

.remove-selection-icon {
    width: 20px;
}

.remove-selection:hover {
    cursor: pointer;
}

.input-box {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 15px;
}

.input-area {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 15px;
}

.form-button-inactive {
    background-color: #0A0A0A;
    border-radius: 5px;
    opacity: 40%;
    padding: 5px 20px 5px 20px;
    font-family: Lato;
    font-size: 20px;
    text-align: center;
    width: 90%;
}

.inactive {
    background-color: #0A0A0A;
    opacity: 40%;
    color: #D3D3D3 !important;
}

.form-button {
    background-color: #16181c;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #16181C;
    color: #04AA6D;
    padding: 5px 20px 5px 20px;
    font-family: Lato;
    font-size: 20px;
    text-align: center;
    width: 90%;
}

.active:hover {
    border-color: #04AA6D;
    cursor: pointer;
}

.warning-message {
    font-family: Lato;
    color: red;
    font-size: 18px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.status-messages-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-left: 5px;
}

.status-message-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    height: 25px;
}

.status-message {
    font-size: 18px;
    font-family: Lato;
}

.status-icon {
    height: 25px;
}

.selected-code-list {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
