
.pending-order-code {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 5px;
    color: #04AA6D;
    text-align: start;
    font-weight: bold;
}

.pending-order-name {
    font-size: 18px;
}

.pending-order-code-mobile {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 5px;
    color: #04AA6D;
    text-align: start;
}

.pending-orders-list-row-container {
    display: flex;
    flex-direction: row;
    background-color: #282c34;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    justify-content: space-between;
    padding-bottom: 8px;
    border-width: 2px;
    border-style: solid;
    border-color: #282c34;
}

.pending-orders-list {
    border-radius: 5px;
}

.pending-order-qty {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 5px;
}

.alert-qty {
    animation: alert-animation 2s infinite;
}

@keyframes alert-animation {
    0% { color: azure}
    50% { color: #F2313C }
    100% { color: azure}
}

.pending-orders-list-row {
    display: flex;
    flex-direction: column;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.print-mailslip-button {
    padding-left: 10px;
    cursor: pointer;
}

.print-button {
    width: 3vmin;
}

.checkbox-container {
    padding-left: 10px;
    cursor: pointer;
}

.pending-order-name {
    font-size: 18px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.pending-order-remaining-qty {
    font-size: 12px;
    font-weight: bold;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.pending-orders-list-row:hover {
    cursor: pointer;
    border-color: #04aa6d;
}

.pending-orders-list-row-selected:hover {
    cursor: pointer;
    border-color: #282c34;
}
