
.button-item-name {
    color: #05c37b;
    font-family: Lato;
    font-size: 2vh;
}

.purchase-item-header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.purchase-item-header {
    color: #05c37b;
    font-family: Lato;
    font-size: 2.5vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.selected-code-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selected-item-name {
    text-align: center;
}
