
.inventory-list-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-box {
    width: 30vmin;
    font-family: Lato;
}

.back-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.back-button{
    width: 5vmin;
}

.refresh-button{
    width: 5vmin;
}

.interactive:hover {
    cursor: pointer;
}

.button-containers {
    display: flex;
    flex-direction: row;
    height: 5vmin;
    justify-content: space-between;
    width: 30vmin;
    padding-bottom: 5px;
}
