@media (max-width: 500px) {
    .pending-order-code {
    }
    .pending-order-name {
        font-size: 18px;
    }
}

.pending-order-code-mobile {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 5px;
    color: #04AA6D;
    text-align: start;
}

.pending-orders-list-row-container {
    display: flex;
    flex-direction: row;
    background-color: #282c34;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    justify-content: space-between;
    padding-bottom: 8px;
    border-width: 2px;
    border-style: solid;
    border-color: #282c34;
}

.pending-orders-list {
    padding: 10px;
    border-radius: 5px;
}

.pending-orders-list-row {
    display: flex;
    flex-direction: column;
}

.checkbox-container {
    padding-left: 10px;
}

.pending-order-code {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 5px;
    color: #04AA6D;
}

.pending-order-name {
    font-size: 18px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.pending-orders-list-row:hover {
    cursor: pointer;
    border-color: #04aa6d;
}

.pending-orders-list-row-selected:hover {
    cursor: pointer;
    border-color: #282c34;
}
