
@media (max-width: 500px) {
    .form {
        background-color: #282c34;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin-bottom: 40px;
        margin-left: 12px;
        margin-right: 12px;
    }
}
.form {
    background-color: #282c34;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 40px;
}

.form-label {
    font-family: Lato;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 8px;
}

.form-header {
    font-family: Lato-Bold;
    font-size: 25px;
    padding-bottom: 10px;
    color: #04AA6D;
}

.search-item-row {
    background-color: #16181c;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    border-style: solid;
    border-color: #16181c;
}

.search-item-row:hover {
    border-color: #04aa6d;
    cursor: pointer;
}

.search-item-name {
    font-size: 1.5vh;
    color: #05c37b;
    font-family: Lato-Bold;
}

.selected-item-name {
    font-size: 2vh;
    color: #05c37b;
    font-family: Lato-Bold;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
}

.qty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qty-input {
    width: 30px;
}

.selected-code-modal {
    background-color: #16181c;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: inherit;
    white-space: pre-line;
}

.remove-selection-icon {
    width: 20px;
}

.remove-selection:hover {
    cursor: pointer;
}

.input-box {
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 18px;
}

.form-button-inactive {
    background-color: #0A0A0A;
    border-radius: 5px;
    color: #D3D3D3;
    opacity: 40%;
    padding: 5px 20px 5px 20px;
    font-family: Lato;
    font-size: 20px;
}

.form-button {
    background-color: #16181c;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #16181C;
    color: #04AA6D;
    padding: 5px 20px 5px 20px;
    font-family: Lato;
    font-size: 20px;
}

.form-button:hover {
    border-color: #04AA6D;
    cursor: pointer;
}

.warning-message {
    font-family: Lato;
    color: red;
    font-size: 18px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.status-messages-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-left: 5px;
}

.status-message-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    height: 25px;
}

.status-message {
    font-size: 18px;
    font-family: Lato;
}

.status-icon {
    height: 25px;
}
