.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  background-color: azure;
  border-radius: 5px;
  margin-bottom: 20px;
}

.App-header {
  background-color: #16181c;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button {
  background-color: #282c34;
  border-radius: 5px;
  color: #04AA6D;
  padding: 5px 20px 5px 20px;
  font-family: Lato;
}

.button:hover {
  cursor: pointer;
}

.links {
  text-decoration: none;
}
